body {
    background-color: black;
    color: white;
    background-image: linear-gradient(to right,#ac0000, #744fc6);
}

.search-bar {
    width: 400px; 
}

.search-form-input {
    width: 380px;
    visibility: hidden; 
}

.search-result {
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    height: 70px;
    width: 100%;
    text-align: left;
    border-radius: 5px;
}

.search-result img {
    height: 40px; 
    float: left;
    margin-top: 5px;
}

.search-result a {
    text-decoration: none;
    color: #2e2e2e;
    font-weight: bold;
    margin-left: 10px;
}

.search-result p {
    text-decoration: none;
    color: #2e2e2e;
    margin-left: 30px;
}

.favorites-card {
    width: 400px;
    margin-left: 20px;
    margin-top: 29px;
    color: #2e2e2e;
}

.add-new-file-card {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 29px;
    color: #2e2e2e;
}

#loading-animation {
    visibility: hidden;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(24px, 0);
    }
  }